<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Network Visualizer</title>
    <link rel="stylesheet" href="./static/style.css">
  </head>
  <body>
    <div>
        <h1>Welcome to the Network Visualizer!</h1>
    </div>
    <div class="container">
        <h2>Enter data (.csv format only)</h2>
          <form method = post enctype=multipart/form-data>
            <input type = file name = file accept = ".csv,.xlsx">
            <input type = submit value = Upload>
          </form>
    </div>
    </body>
</html>