<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Network Visualizer</title>
    <link rel="stylesheet" href="./static/style.css">
    <script>
        function showError(message) {
            alert(message);
        }
    </script>
  </head>
  <body>
    <div>
        <h1>Welcome to the Network Visualizer!</h1>
    </div>
    <div class="container">
        <h2>Enter data</h2>
          <form method = post enctype=multipart/form-data>
            <div class="form-group">
                <label for = 'relational'>Upload Relational Data:</label>
                <input type = file name = relational accept = ".csv">
            </div>
            

            <div class="form-group">
                <label for = 'attribute'>Upload Attribute Data:</label>
                <input type = file name = attribute accept = ".csv">
            </div>
            

            <input type = submit value = Upload>
          </form>
    </div>

    {% if error %}
    <script>
        showError("{{ error }}");
    </script>
    {% endif %}
    </body>
</html>