<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Network Visualizer</title>
    <link rel="stylesheet" href="./static/style.css">
    <script>
        function showError(message) {
            alert(message);
        }
    </script>
  </head>
  <body>
    <div>
        <h1>Network Visualization!</h1>
    </div>
    <div class="row">
        <div class="column container">
            <h2>Network Graph</h2>
            <iframe src="/dash/" width="100%" height="90%" style="border:none;"></iframe>
        </div>
        <div class="column">
            <div class = "container">
                <h2>Global Measures</h2>
                <ul align = "left">
                    <li><strong>Network Density:</strong> {{network_density}}</li>
                    <li><strong>E-I Indices</strong>
                        <ul>
                            {% for attribute, ei_index in ei_indices %}
                            <li><strong>{{attribute}}:</strong> {{ei_index}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class = "container">
                <div>
                    <h2>Centrality Measures</h2>
                    <ul align = "left">
                        <li><strong>Degree Centrality:</strong> <span id = 'degree-centrality'>{{degree_centrality}}</span></li>
                        <li><strong>Closeness Centrality:</strong> <span id = 'closeness-centrality'>{{closeness_centrality}}</span></li>
                        <li><strong>Betweenness Centrality:</strong> <span id = 'betweenness-centrality'>{{betweenness_centrality}}</span></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>

    {% if error %}
    <script>
        showError("{{ error }}");
    </script>
    {% endif %}

    <script>
        window.addEventListener("message", function(event) {
            console.log("Received message from Dash:", event.data);
    
            if (event.data && event.data.degree !== undefined) {
                document.getElementById("degree-centrality").innerText = event.data.degree.toFixed(4);
                document.getElementById("closeness-centrality").innerText = event.data.closeness.toFixed(4);
                document.getElementById("betweenness-centrality").innerText = event.data.betweenness.toFixed(4);
            } else {
                console.error("Invalid data received:", event.data);
            }
        }, false);
    </script>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            let cytoscapeGraph = document.getElementById('cytoscape-graph');
            console.log(cytoscapeGraph)
            cytoscapeGraph.addEventListener('click', function(event) {
                let clickedNode = event.detail;
                if (clickedNode && clickedNode.id) {
                    document.getElementById('degree-centrality').innerText = data.degree;
                    document.getElementById('closeness-centrality').innerText = data.closeness;
                    document.getElementById('betweenness-centrality').innerText = data.betweenness;
                }
            });
        });
    </script> -->
    </body>
</html>